:root{
    --dialogPanelBackgroundColor: rgba(0, 0, 0, 0.7);
    --dialogPanelTextColor: white;
    --dialogPanelTextColorSelected: rgb(255, 174, 0);
    --dialogPanelNameTextSize: 20px;
    --dialogPanelDialogTextSize: 20px;

    --backgroundScene: url("");
    --backgroundSceneOld: url("");
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    user-select: none;
    background: black;
}

.background_old{
    position: absolute;
    width: 100%;
    height: 100%;

    animation: none;

    background: var(--backgroundSceneOld) no-repeat center center fixed;
    background-size: cover;
}

.background_new{
    position: absolute;
    width: 100%;
    height: 100%;

    animation: none;

    background: black var(--backgroundScene) no-repeat center center fixed;
    background-size: cover;
}

.dialogPanel{
    background-color: var(--dialogPanelBackgroundColor);
    position: absolute;
    bottom: 0;
    min-height: 120px;
    width: 100vw;
    color: var(--dialogPanelTextColor);
}

#characterName{ 
    font-size: var(--dialogPanelNameTextSize);
    margin: 14px;
    font-weight: 700;
}

#dialogText{
    font-size: var(--dialogPanelDialogTextSize);
    margin: 14px;
    min-height: var(--dialogPanelDialogTextSize);
}

.tools{
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tools li{
    list-style-type: none;
}

.tools ul{
    padding: 0;
    margin: 0;
    display:inline-block;
    text-decoration: underline;
}

.tools ul:hover{
    color: var(--dialogPanelTextColorSelected);
    cursor: pointer;
}

.scenarioElements{
    position: absolute;
    height: 100%;
    width: 100%;
}

.scenarioElements .defaultSprite{
    position: absolute;
    bottom: 0;
    width: auto;
    height: 90vh;
}