.menu{
    position: fixed;
    background-color: #262626;
    height: 100vh;
    width: 300px;
    padding: 20px;
}

.menu li{
    list-style: none;
} 

.menu ul{
    padding: 0px;
    font-size: 20px;
    text-decoration: underline;
    margin: 4px;
}

.menu ul:hover{
    color: #FF9900;
    cursor: pointer;
}

.menuFooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 14px;
}

.menuFooter .icon_settings{
    position: absolute;
    right: 64px;
    width: 32px;
}

.menuFooter .icon_settings:hover{
    cursor: pointer;
}

.menuFooter .icon_create{
    position: absolute;
    right: 16px;
    width: 32px;
}

.menuFooter .icon_create:hover{
    cursor: pointer;
}

.content{
    width: calc(100% - 340px);
    max-width: calc(100% - 340px);
    float: right;

    height: 100vh;
}

.projectWorkspace{
    display: none;
}

.projectWorkspace .footer{
    position: relative;
    padding: 8px;
    display: flex;
    gap: 8px;
}

.footer .name{
    position: relative;
    background-color: #262626;
    height: 58px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 14px;
}

.icon1{
    position: absolute;
    right: 10px;
    width: 24px;
}

.icon2{
    position: absolute;
    right: 40px;
    width: 24px;
}

.icon1:hover, .icon2:hover{
    cursor: pointer;
}

.selectWorkspace{
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newName{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    user-select: all;
}

.workspaceContent{
    padding: 8px;
    position: relative;
}

.workspacePanel {
    background-color: #262626;
    width: calc(100% - 8px);
    max-width: 100%;
    padding: 4px;
    padding-top: 8px;
    margin-bottom: 10px;
}

.workspacePanel .title{
    margin: 10px;
    font-size: 30px;
    font-weight: 500;
}

.workspacePanel a, .workspacePanel a:visited{
    color: white;
}

.workspacePanel hr{
    width: calc(100% - 25px);
    border-color: #9c9c9c;
}

.workspacePanel .panelContent{
    height: auto;
    padding-left: 12px;
    padding-right: 20px;
}
