body{
    background-color: #3c3c3c;
    margin: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1{
    margin: 0;
}

.button{
    width: 58px;
    height: 58px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_orange{
    width: 58px;
    height: 58px;
    background-color: #FF9900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_orange img, .button img{
    width: 32px;
    height: 32px;
}

.button_orange:hover{
    background-color: #d47f00;
}

.inputEditor{
    width: calc(100% - 12px);
    outline: none;
    background-color: #262626;
    border: solid;
    border-color: #3c3c3c;
    color: white;
    padding: 8px;
    margin-bottom: 8px;
}

.inputEditor:hover, .inputEditor:focus{
    border-color: #6e6e6e;
}

.panelButton{
    outline: none;
    background-color: #262626;
    border: solid;
    border-color: #3c3c3c;
    color: white;
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.panelButton:hover{
    border-color: #6e6e6e;
}

.fullButton{
    width: calc(100% + 10px);
}